/* calculator container */

.Calculator{
    width: 260px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 17px rgba(0,0,0,0.5);
    margin: 50px auto;
    font-family: 'Segoe UI', sans-serif;
}

/* Display */

#display{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-align: right;
    padding: 2px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* buttons grid */

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

/* buttons */

button{
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #444;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover{
    background-color: #555;
}

button:active{
    background-color: #666;
}

/* Operator buttons styling */
.operator:not(.equal){
    background-color: #ff9500;
    color:#fff;
}

.operator:not(.equal):hover{
    background-color: #e08900;
}

.operator:not(.equal):active{
    background-color: #c77300;
}

/* Equal button styling */

.equal{
    width:100%;
    margin-top: 10px;
    background-color: #34c759;
}

.equal:hover{
    background-color: #28a745;
}

.equal:active{
    background-color: #1e7e34;
}

.zero{
    grid-column:2/4;
}